.div_menu {
background-color: black;
}
.menu {
text-transform: uppercase;
}
.slider-div{
text-align: center;
}
div{
text-align: justify;
}
footer{
text-align: center;
background-color: black;
color: white;
}
.footer {
text-align: center;
}
.footer-alamat {
text-align: center;
}